<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Your Homepage</title>
</head>

<body>

    <h1>Welcome <%= username %></h1>

    <p>This is your personalized homepage after login.</p>

    <a href="/logout">
        <button>Logout</button>
    </a>

</body>

</html>
